# Ignore workspace for vscode
Wheat-KASP-Designer.code-workspace

# Ignore testing stuff
test*

# Ignore modules
./primer3/
./SNP-Sequence-Puller/

# Ignore VSCode workspace
Wheat-KASP-Designer.code-workspace